/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes sure your body takes the full viewport height */
    margin: 0; /* This removes the default margin */
.box{
	background-color:#e9e9e9;
text-align: center;
	padding:30px 0px
}
	p{
		margin: 0px 80px;
	}


	




